// ************************************
// Footer
// ************************************

.cfooter
  margin-top: 4em
  background: #222
  color: #606060
  padding: 30px 0
  .inner
    margin: 0 auto
    max-width: 960px
    width: 100%
  ul
    list-style-type: none
    margin: 0
    padding: 0
  a
    color: #bdbdbd
  strong
    font-weight: 800
  .highlight
    color: #4a4a4a
    font-size: 1.8125rem
    font-weight: 500
  .navigation
    margin-top: 15px
  .copy
    font-size: 0.8rem
