// ************************************
// Layout / Vuepress
// ************************************

.theme-container.page-wide
  .content
    max-width: 900px

.page-edit
  margin: 0 !important
  padding: 0 !important
