$accentColor = #3765af
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc

$contentWidth = 980px
$footerWidth = 980px

$contentWidthXL = 1280px
$footerWidthXL = 1280px
