// ************************************
// Blab
// ************************************

.blabs
  a,  a:hover
    text-decoration: none !important

  .blab
    margin-bottom: 1rem
    .blab-link
      font-size: 1.2rem
      transition: all 0.2s ease
      border-bottom: 1px solid #fff
      &:hover
        border-bottom: 1px solid #3765af

.blab-footer
    max-width: 900px
    margin: 0 auto
    padding: 0
