// ************************************
// Buttons
// ************************************

.btn
  display: inline-block
  margin-bottom: 0
  font-weight: 400
  text-align: center
  white-space: nowrap
  vertical-align: middle
  touch-action: manipulation
  cursor: pointer
  user-select: none
  background-image: none
  border: 1px solid transparent
  border-radius: 3px
  padding: 2px 5px
  line-height: 1em

.btn-success
  color: #fff
  background-color: #5cb85c
  border-color: #4cae4c

.btn-warning
  color: #fff
  background-color: #f0ad4e
  border-color: #eea236

.btn-xs
  padding: 1px 5px
  font-size: 12px
  line-height: 1.5
  border-radius: 3px

.gbuttons
  display: flex
  flex-direction: row
  flex-wrap: wrap;
  list-style: none
  margin: 0
  padding: 0

  .button-group
    display: inline-flex
    flex-direction: row
    font-size: 0.8rem
    margin: 0.1rem
    .button-label
      background-color: #eff3f6
      background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%)
      color: #24292e
      border: 1px solid rgba(27,31,35,.2)
      border-bottom-left-radius: 3px
      border-top-left-radius: 3px
      padding: 3px 10px
      vertical-align: middle
    .button-value
      background-color: #fff
      border: 1px solid rgba(27,31,35,.2)
      border-left: 0
      border-bottom-right-radius: 3px
      border-top-right-radius: 3px
      color: #24292e
      font-weight: 600
      padding: 3px 10px
      vertical-align: middle
    a
      color: #000
      &:hover
        color: #3c6fc0
        text-decoration: none

.action-button
  display: inline-block
  font-size: 1.2rem
  color: #fff
  background-color: #3765af
  padding: .3rem 1rem
  border-radius: 4px
  transition: background-color .1s ease
  box-sizing: border-box
  border-bottom: 1px solid #315b9e
  &:hover
    background-color: #3f72c3

.action-button-2x
  padding: .4rem 1.6rem
  font-size: 1.4em
  font-weight: bold
