// ************************************
// Release
// ************************************

.releases
  .release-notes
    a,  a:hover
      text-decoration: none !important
      border-bottom: 1px solid #3765af

    a[data-hovercard-type=commit]
      &:before
        content: '#'
  tt
    font-family: inherit

  h2
    font-size: 1.5rem

    small
      font-size: 0.7em
      margin-left: 10px
      color: #888888
