$accentColor = #3765af
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

.btn
    display: inline-block
    margin-bottom: 0
    font-weight: 400
    text-align: center
    white-space: nowrap
    vertical-align: middle
    touch-action: manipulation
    cursor: pointer
    user-select: none
    background-image: none
    border: 1px solid transparent

.btn-success 
    color: #fff
    background-color: #5cb85c
    border-color: #4cae4c

.btn-warning 
    color: #fff
    background-color: #f0ad4e
    border-color: #eea236

.btn-xs 
    padding: 1px 5px
    font-size: 12px
    line-height: 1.5
    border-radius: 3px