@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,h3,h4,h5,h6
  border-bottom: 0

.theme-container
  flex-grow: 1

.theme-default-content:not(.custom)
  padding: 2rem

.theme-container.page-wide
  .content
    max-width: $contentWidth

.xcontainer
  max-width: $contentWidth
  margin: 0 auto

.footer
  max-width: $footerWidth
  margin: 0 auto

.sidebar-heading
  margin-top: 0 !important

.page-edit
  margin: 0 !important
  padding: 0 !important

.layout
  display: flex
  flex-direction: column

.layout-layout, .layout-postlayout, .layout-markdownlayout
  .page
    h1:not([class]), h1[class=""]
      @apply text-3xl font-bold
    h2:not([class]), h2[class=""]
      @apply text-2xl font-bold
    h3:not([class]), h3[class=""]
      @apply text-xl font-bold
    h4:not([class]), h4[class=""]
      @apply text-lg font-bold
    h5:not([class]), h5[class=""]
      @apply text-base font-bold
    h6:not([class]), h6[class=""]
      @apply text-base font-normal

    a:not([class]), a[class=""]
      color: $accentColor

    ul, ol, p
      margin-top: 1.5rem

    ul ul, ul ol, ol ul, ol ol
      margin-top: 0

    p:not([class]), p[class=""]
      line-height: 1.5rem

    ul:not([class]), ul[class=""]
      list-style-type: square
      padding-left: 1.5rem

    hr:not([class]), hr[class=""]
      margin: 2rem 0

    blockquote
      margin: 1rem 0
      p
        margin: 0

.layout-herolayout
  h1:not([class]), h1[class=""]
    @apply text-5xl font-bold
  h2:not([class]), h2[class=""]
    @apply text-3xl font-semibold
  h3:not([class]), h3[class=""]
    @apply text-2xl font-semibold
  h4:not([class]), h4[class=""]
    @apply text-xl font-semibold
  h5:not([class]), h5[class=""]
    @apply text-lg font-semibold
  h6:not([class]), h6[class=""]
    @apply text-base font-semibold

.layout-highlayout
  h1:not([class]), h1[class=""]
    @apply text-3xl font-bold
  h2:not([class]), h2[class=""]
    @apply text-2xl font-semibold
  h3:not([class]), h3[class=""]
    @apply text-xl font-semibold
  h4:not([class]), h4[class=""]
    @apply text-lg font-semibold
  h5:not([class]), h5[class=""]
    @apply text-base font-semibold
  h6:not([class]), h6[class=""]
    @apply text-base font-normal

.explanation
  &::after
    content: "Hey!";
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    top: -8px;
    left: 1rem;
    background: #100e17;
    padding: 0 .5rem;
    font-size: .6rem;
    position: absolute;

.explanation--hotness
  &::after
    content: "Hotness!"

.explanation--package
  &::after
    content: "Package!"

.release-notes
  line-height: 1.5rem

  a,a:hover
    text-decoration: none !important
    border-bottom: 1px solid

  a[data-hovercard-type=commit]
    &:before
      content: '#'

  ul
    list-style-type: square
    padding-left: 1.8rem

  pre, pre[class*="language-"]
    background-color: #cdcdcd50

.search-box
  input
    border-radius: 0.5rem !important

.gbuttons
  display: flex
  flex-direction: row
  flex-wrap: wrap;
  list-style: none
  list-style-type: none !important
  margin: 0
  padding: 0 !important

  .button-group
    display: inline-flex
    flex-direction: row
    font-size: 0.8rem
    margin: 0.1rem
    list-style-type: none
    .button-label
      background-color: #eff3f6
      background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%)
      color: #24292e
      border: 1px solid rgba(27,31,35,.2)
      border-bottom-left-radius: 3px
      border-top-left-radius: 3px
      padding: 3px 10px
      vertical-align: middle
    .button-value
      background-color: #fff
      border: 1px solid rgba(27,31,35,.2)
      border-left: 0
      border-bottom-right-radius: 3px
      border-top-right-radius: 3px
      color: #24292e
      font-weight: 600
      padding: 3px 10px
      vertical-align: middle
    a
      color: #000
      &:hover
        color: #3c6fc0
        text-decoration: none

.theme-default-content:not(.custom) {
  a:hover[class] {
    text-decoration: none !important;
  }
}

.nav-links {
  h4 {
    @apply font-bold;
    font-size: inherit !important;
  }
}

@media screen and (min-width: 1280px)
  .theme-default-content:not(.custom)
    max-width: $contentWidthXL

  .footer
    max-width: $footerWidthXL

  .xcontainer
    max-width: $contentWidthXL


@media screen and (min-width: 959px)
  .search-box
    input
      width: 20rem !important

@media screen and (max-width: 719px) {
  .nav-links {
    .dropdown-wrapper {
      button {
        pointer-events: auto;
        outline: none;
      }
    }
  }
}
