// ************************************
// Utility classes
// ************************************

for scale in (1...7)
  .mt-{scale}
    margin-top: 0.5*scale rem
  .mb-{scale}
    margin-bottom: 0.5*scale rem

.text-center
  text-align: center

.text-left
  text-align: left

.text-right
  text-align: right

.d-flex
  display: flex
  flex-wrap: wrap

.flex-columns
  flex-direction: column

.flex-rows
  flex-direction: row

.flex-grow-1
  flex-grow: 1

.box-6
  width: 16%
